nav {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.navlink {
    border: 1px dotted black;
}

h1 {
  text-align: center;
}

h1:hover {
  color:gray;
  font-family: "Courier New"
}
body {
    margin:10px;
    padding:20px;
}

.nameinputcont {
    display:flex;
    justify-content: space-around;
    margin:10px;
}

.nameinputcont input {
    height:35px;
    padding:0 5px 5px 0;
    font-family: "Courier New";
    border:none;
    text-align:center;
}

.nameinputcont input:hover {
    border:2px solid black;
}
.btn {
  background-color:red;
  border: red;
}

.btn:hover {
    background-color: green;
    box-shadow: 6px rgba(0,50,0,.8);
}

.btn:active {
    border:none;
}
p {
    font-size: 14pt;
    text-align: justify;
    font-family: arial "Garamond";
}
.getitbox p {
    font-family: arial;
    text-transform: uppercase;

}
.getitbox {
    border: 2px dotted black;
    margin: 10px;
    padding: 10px;
}

.oldstuffbox p {
    align-text: center;
    font-style:italic;
    font-size:12pt;
    color:gray;
}
.oldstuffbox {
    display:flex;
    flex-direction: column;
    align-content:center;

}
.oldstuffbtn {
    display:flex;
    background-color: lightgray;
    align-self: center;
    text-decoration-color: no-underline;
    color: white;
}


.aboutcontainer {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content:space-around;
}

.abouthed {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    padding:15px;
    text-align:center;
}

h2 {
    text-decoration: underline;
    text-align:center;
}

.aboutpic {
    display: flex;
    flex-direction: row;
    height:150px;
    width:150px;
    border-radius:50%;

}

img:hover {
    transform:scale(1.05);
    box-shadow: 4px 4px rgba(133, 149, 159,.2);
}



footer {
    position: relative;
    bottom: 0;
    height:20px;
}

.foot-container {
  height:11px;
  width:110px;
  margin:10px 0px;
  align-items: center;
}

.circle {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 5px;
  background: none;
  border: #888888 dashed;
  transition: all 500ms ease-in-out;
}

.foot-container:hover .circle {
  transform:
    rotate(360deg)
    translate(0px, -9px)
    scale(.02);
  color:#054568;
/*   transform:scale(.4); */

}

.text-block {
  color:rgba(0,0,0,0);
  width:200px;
  height:0px;
}

.foot-container:hover .text-block {
  color: #888888;
  background-color: none;
  font-family:arial;
/*   font-style:italic; */
  font-size:8px;
  width:110px;
  height:10px;
  text-align:center;
  transform:
    translateX(-4px)
    translateY(-24px);
  transition: all 600ms;
}

a.briangithub {
  text-decoration:none;
  font-style:
}
